<!doctype html>
<html>
<head>
	<title>Be Patient</title>
	<link rel="Stylesheet" href="styles/reset.css">
	<style>

	body {
		overflow: hidden;
	}
	header{ 
	/*position: relative;*/
	height: 50px;
	width:1435px;
	border:1px solid #169f84;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #1abc9c;
	color:white;
}

header h3{
	position: absolute;
	top: 15px;
	left:50px;
	font-size: 20px;
}
header h3:hover{
	cursor: pointer;
	color: #F5F3F3;
}

header ul li{
	position: relative;
	display: inline-block;
	left:80%;
	padding: 10px;
	bottom: 13px;
	top:8px;

}
header ul li:hover{
	cursor: pointer;
	color: black;
}

header h1{
	text-align: center;
	font-size: 60px;
	position: relative;
	top: 50px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#mainBox {
	height: 275px;
	width:90%;
	position:relative;
	left:5%;
	margin-top: 30px;
	background-color: #F5F3F3;
	border-radius: 20px;
}

h3 {
	position: relative;
	top: 15px;
	left:50px;
	font-size: 20px;
}

h3:hover {
	cursor: pointer;
	color: #F5F3F3;
}
	
ul li {
	position: relative;
	display: inline-block;
	left:80%;
	padding: 10px;
	bottom: 13px;

}

#mainbox ul li:hover {
	cursor: pointer;
	color: black;
}

h1 {
	text-align: center;
	font-size: 60px;
	position: relative;
	top: 50px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#buttons li {
	position:relative;
	left:43%;
	top: 75px;
}

#logIn{
	position: relative;
	height: 28px;
	width: 70px;
	border: 1px solid;
	text-align: center;
	border-radius: 20px;
	top:20px;
	background-color: white;
	padding-top: 20px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;	
}

#signUp {
	position: relative;
	height: 28px;
	width: 70px;
	border: 1px solid;
	text-align: center;
	border-radius: 20px;
	background-color: #c0392b;
	color: white;
	padding-top: 20px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#signUp:hover{
	background-color: #A31B0C;
	cursor: pointer;
}

#logIn:hover{
	background-color: #F5F3F3;
	cursor: pointer;
}

#logos {
	width:100%;
	height: 55px;
	margin-left: auto; 
	margin-right: auto;
	margin-top: 368px;
	left: 0;
	right: 0;
	float: right;
/*	border: 1px red solid;*/
	position: relative;
	background-color: rgba(0,0,0,0.2);
}

#contact {
	list-style: none;
	width: 500px;
	/*border: black 2px solid;*/
	position: relative;
	margin: auto;
	right: 0px;
	left: 0px;
}

#contact li {
	position: relative;
	display: inline-block;
	margin-left: 80px;
	margin-top: 8px;
	left: 9px;
}

#contact img {
	display: block;
	width: 40px;
	height: 40px;
	margin: 3px;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
li a {
	text-decoration: none;
	color: white;
}

	</style>
</head>
<body id="home">
	<header>
	<h3>BePatient</h3>

	<ul>
		<li><a href="/home">Home</a></li>
		<li><a href="/about">About</a></li>
		<li><a href="/contact">Contact</a></li>
		<li><a href="/profile">Sign In</a></li>
	</ul>	
		
	</header>

	<div id="mainBox">
		<h1 id="welcome">Welcome to BePatient!</h1>
		<ul id="buttons">
			<li id="logIn">Log In</li>
			<li id="signUp">Sign Up</li>
		</ul>	
	</div>
	<div id="logos">
			<ul id="contact">
				<li><a href="mailto:victorwang920@gmail.com" target="blank"><img src="images/email.png"></a></li>
				<li><a href="https://www.linkedin.com/pub/victor-wang/53/907/148" target="blank"><img src="images/linkedin.png"></a></li>
				<li><a href="https://www.facebook.com/victor.wang.372" target="blank"><img src="images/fb.png"></a></li>
			</ul>
		</div>
</body>
</html>

