body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	overflow: hidden;
}

/*HEADER*/
header{ 
	/*position: relative;*/
	height: 50px;
	width:1435px;
	border:1px solid #169f84;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #1abc9c;
	color:white;
}

header h3{
	position: absolute;
	top: 15px;
	left:40px;
	font-size: 20px;
}

header h3:hover{
	cursor: pointer;
	color: #F5F3F3;
}

header ul li{
	position: relative;
	display: inline-block;
	left:80%;
	padding: 10px;
	bottom: 13px;
	top:8px;

}
header ul li:hover{
	cursor: pointer;
	color: black;
}

header h1{
	text-align: center;
	font-size: 60px;
	position: relative;
	top: 50px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/*END HEADER*/

/* UNIVERSAL FOOTER */
#logos {
	width:100%;
	height: 55px;
	margin-left: auto; 
	margin-right: auto;
	left: 0;
	right: 0;
	float: right;
/*	border: 1px red solid;*/
	position: relative;
	background-color: rgba(0,0,0,0.2);
}

#contact {
	list-style: none;
	width: 500px;
	/*border: black 2px solid;*/
	position: relative;
	margin: auto;
	right: 0px;
	left: 0px;
}

#contact li {
	position: relative;
	display: inline-block;
	margin-left: 80px;
	left: 9px;
	top: 3px;
}

#contact img {
	display: block;
	width: 40px;
	height: 40px;
	margin: 3px;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


/* END UNIVERSAL FOOTER */


#container {
	width: 1435px;
	height: 760px;
	/*border: 2px red dashed;*/
	/*margin-top: 300px;*/
}

#content {
	width: 1435px;
	height: 490px;
	/*border: 1px solid black;*/
	position: relative;
	margin: auto;
	left: 0;
	right: 0;
}


/*OPTION BAR*/
#optbar {
	width: 190px;
	height: 300px;
	/*border: 1px blue solid;*/
	display: inline-block;
}

#optbar ul {
	list-style: none;
	border-right: 3px solid rgba(0,0,0,0.2);
	padding-right: 20px;
}

#optbar li {
	line-height: 50px;
	margin-left: 55px;
	margin-top: 16px;
	border: 2px solid #1abc9c;
	border-radius: 10px;
	box-shadow: 10px 10px 5px #888888;
}
#optbar li:hover {
	background-color: rgba(0,0,0,0.08);
	color: #1abc9c;
}	
/*END OPTION BAR*/

#contentbox {
	position: relative;
	width: 1435px;
	height: 420px;
	/*border: 1px black solid;*/
	display: inline-block;
}


.content {
	width: 1240px;
	height: 300px;
	/*border: 1px green solid;*/
	float: right;
}

#summary {
	/*display: none;*/
}
#patient {
	display: none;
}

#feedback {
	display: none;
}
#calendar {
	display: none;
}

/*SUMMARY*/
#summary img {
	height: 280px;
	width: 580px;
	border-radius: 40px;
	margin-left: 25px;
	margin-top: 5px;
}

#summary div {
	width: 580px;
	height: 270px;
	margin-top: 10px;
	float: right;
	background-color: rgb(22,142,198);
	border-radius: 10px;
	color: white;
}

#summary li {
	margin:15px;
}
/* END SUMMARY*/

/*PATIENT*/
#patient img {
	height: 290px;
	width: 800px;
}

#patient div {
	width: 430px;
	height: 260px;
	float: right;
	background-color: rgba(0,0,0,0.2);
	border-radius: 10px ;
	margin-top: 10px;
}
/* END PATIENT*/

/*FEEDBACK*/
#feedback img {
	height: 280px;
	margin-left: 50px;
	border-radius: 10px;
	margin-top: 5px;
}
#feedback div {
	width: 590px;
	height: 280px;
	float: right;
	background-color: rgba(0,0,0,0.1);
	border-radius: 10px;
	margin-top: 5px;
}
/*END FEEDBACK*/

/*CALENDAR*/
#calendar img {
	height: 270px;
	width: 450px;
	margin-left: 50px;
	margin-top: 10px;
	border-radius: 30px;
}

#calendar div {
	width: 720px;
	height: 280px;
	float: right;
	background-color: rgba(0,0,0,0.2);
	margin-top: 5px;
	border-radius: 10px;

}

/*BOTTOM BANNER*/
#bottomcontent {
	width: 1435px;
	height: 120px;
	/*border: 1px black solid;*/
	position: relative;
	background-color: #1abc9c;
	color: white;
	line-height: 28px;
}

#bottomcontent h3 {
	font-size: 20px;
	margin-left: 1250px;
}
#bottomcontent h4 {
	font-size: 18px;
	margin-left: 1250px;
}
#bottomcontent h5 {
	font-size: 13px;
	margin-left: 1250px;
}
/*END BOTTOM BANNER*/


/*HOME PAGE */
#home header { 
		position: relative;
		top:0px;
		height: 50px;
		width:100%;
		border:1px solid #169f84;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		background-color: #1abc9c;
		color:white;
}

#mainBox {
	height: 275px;
	width:90%;
	position:relative;
	left:5%;
	margin-top: 30px;
	background-color: #F5F3F3;
	border-radius: 20px;
}

#home h3 {
	position: relative;
	top: 15px;
	left:50px;
	font-size: 20px;
}

#home h3:hover {
	cursor: pointer;
	color: #F5F3F3;
}
	
#home ul li {
	position: relative;
	display: inline-block;
	left:80%;
	padding: 10px;
	bottom: 13px;

}

#mainbox ul li:hover {
	cursor: pointer;
	color: black;
}

#home h1 {
	text-align: center;
	font-size: 60px;
	position: relative;
	top: 50px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#buttons li {
	position:relative;
	left:43%;
	top: 75px;
}

#logIn{
	position: relative;
	height: 28px;
	width: 70px;
	border: 1px solid;
	text-align: center;
	border-radius: 20px;
	top:20px;
	background-color: white;
	padding-top: 20px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;	
}

#toplinks a:hover{
	color: black;
	cursor: pointer;
}
/*END HOME PAGE */

li a {
	text-decoration: none;
	color: white;
	position: relative;
	right: 15px;
}





















